src/SOAP/Bizonylat API/messages/1.2/common.xsd

<?xml  version='1.0' encoding='utf-8' ?>
<xs:schema targetNamespace="https://soap.api.nav.gov.hu/definitions/messages/1.2/common" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://soap.api.nav.gov.hu/definitions/messages/1.2/common" xmlns:msg_common="https://soap.api.nav.gov.hu/definitions/messages/1.2/common">
	<xs:complexType name="BaseResponseType">
		<xs:annotation>
			<xs:documentation>Általános válasz adatok</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="resultMessage" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Válaszüzenet</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NAVm2mSoapHeader">
		<xs:annotation>
			<xs:documentation>Általános kérés adatok</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="correlationId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Egyedi kapcsolat azonosító</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messageId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Az üzenet egyedi azonosítója</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>