src/Nyomtatvány leíró fájlok/Schema/common.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="https://soap.api.nav.gov.hu/definitions/model/2.0/common/v0.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://soap.api.nav.gov.hu/definitions/model/2.0/common/v0.1">
	<xs:complexType name="AttachmentType">
		<xs:annotation>
			<xs:documentation>A bizonylat csatolmányának adatai.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fileId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A csatolmány azonosítója a fájltárolóban.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fileName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A csatolmány fájl neve kiterjesztéssel együtt</xs:documentation>
				</xs:annotation>
			</xs:element>			
			<xs:element name="fileSize" type="xs:nonNegativeInteger" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A csatolmány fájl mérete byte-ban megadva.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
