src/Nyomtatvány leíró fájlok/Schema/NAV_PMT25MEG_0.3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:common="https://soap.api.nav.gov.hu/definitions/model/2.0/common/v0.1"
        xmlns:enm="https://soap.api.nav.gov.hu/definitions/model/2.0/altalanos_enum/v0.1"
        xmlns:meta="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
        xmlns:tns="https://soap.api.nav.gov.hu/definitions/model/2.0/PEI/NAV_PMT25MEG/v0.1"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        targetNamespace="https://soap.api.nav.gov.hu/definitions/model/2.0/PEI/NAV_PMT25MEG/v0.1">
   <import namespace="https://soap.api.nav.gov.hu/definitions/model/2.0/common/v0.1"
           schemaLocation="common.xsd"/>
   <import namespace="https://soap.api.nav.gov.hu/definitions/model/2.0/altalanos_enum/v0.1"
           schemaLocation="altalanos_enum.xsd"/>
   <import namespace="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
           schemaLocation="form_xsd_metaschema.xsd"/>	
   <element name="Doc_NAV_PMT25MEG"
            type="tns:Doc_NAV_PMT25MEG_Type"
            meta:metaType="DocMetaType">
      <annotation>
         <documentation>Adatszolgáltatás a pénzmosás és a terrorizmus finanszírozása megelőzéséről és megakadályozásáról szóló 2017. évi LIII. törvény 42. §(2) bekezdésében meghatározott megkeresés teljesítése érdekében</documentation>
      </annotation>
   </element>
   <simpleType name="Enum_0A0001C002A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="á"/>
         <enumeration value="i"/>
      </restriction>
   </simpleType>
   <complexType name="Doc_NAV_PMT25MEG_Type">
      <annotation>
         <documentation>A teljes bizonylat szerkezetet leíró típus</documentation>
      </annotation>
      <sequence>
         <element name="Form_NAV_PMT25MEG"
                  type="tns:Form_NAV_PMT25MEG_Type"
                  minOccurs="1"
                  maxOccurs="1"
                  meta:metaType="FormMetaType">
            <annotation>
               <documentation>NAV_PMT25MEG részbizonylat</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Form_NAV_PMT25MEG_Type">
      <annotation>
         <documentation>A teljes nyomtatvány NAV_PMT25MEG részbiztonylatának szerkezetét leíró típus.</documentation>
      </annotation>
      <sequence>
         <element name="Block_120001"
                  type="tns:Block_120001_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Megkeresés</documentation>
            </annotation>
         </element>
         <element name="Attachment_1"
                  type="common:AttachmentType"
                  minOccurs="0"
                  maxOccurs="unbounded"
                  meta:metaType="AttachmentMetaType">
            <annotation>
               <documentation>Csatolmány; File Extensions:*</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Block_120001_Type">
      <annotation>
         <documentation>Megkeresés</documentation>
      </annotation>
      <sequence>
         <element name="FieldGroup_120002"
                  type="tns:FieldGroup_120002_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Megkeresés alapadatai</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="FieldGroup_120002_Type">
      <annotation>
         <documentation>Megkeresés alapadatai</documentation>
      </annotation>
      <sequence>
         <element name="Field_0A0001C001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Pénzmosás és Terrorizmusfinanszírozás Elleni Iroda iktatószáma: (pmt_iktsz1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="5"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation> (pmt_iktsz3)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="4"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C002A"
                  minOccurs="0"
                  type="tns:Enum_0A0001C002A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation> (pmt_iktsz2)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001C004A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation> (pmt_iktsz4)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C005A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation> (pmt_iktsz5)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="5"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C006A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adószám: (adoig)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001D001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Szolgáltató neve: (szolg_nev)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="60"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001E001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Szolgáltatónál alkalmazott azonosító: (szolg_azon)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001E002A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Szolgáltató részéről felmerült egyéb adat, tény, körülmény: (szolg_teny)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="999"/>
                  <pattern value="[\t\n\r\P{C}]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001E003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Csatolt mellékletek száma: (csatolmányok)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="2"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>
