src/Nyomtatvány leíró fájlok/Schema/VPOP_KIT17MEG_1.6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:common="https://soap.api.nav.gov.hu/definitions/model/2.0/common/v0.1"
        xmlns:enm="https://soap.api.nav.gov.hu/definitions/model/2.0/altalanos_enum/v0.1"
        xmlns:meta="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
        xmlns:tns="https://soap.api.nav.gov.hu/definitions/model/2.0/PEI/VPOP_KIT17MEG/v0.1"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        targetNamespace="https://soap.api.nav.gov.hu/definitions/model/2.0/PEI/VPOP_KIT17MEG/v0.1">
   <import namespace="https://soap.api.nav.gov.hu/definitions/model/2.0/common/v0.1"
           schemaLocation="common.xsd"/>
   <import namespace="https://soap.api.nav.gov.hu/definitions/model/2.0/altalanos_enum/v0.1"
           schemaLocation="altalanos_enum.xsd"/>
   <import namespace="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
           schemaLocation="form_xsd_metaschema.xsd"/>
   <element name="Doc_VPOP_KIT17MEG"
            type="tns:Doc_VPOP_KIT17MEG_Type"
            meta:metaType="DocMetaType">
      <annotation>
         <documentation>Az Európai Unió és az ENSZ Biztonsági Tanácsa által elrendelt pénzügyi és vagyoni korlátozó intézkedések végrehajtásáról szóló 2017. évi LII. törvényben meghatározott kötelezettség végrehajtása érdekében</documentation>
      </annotation>
   </element>
   <simpleType name="Enum_0A0001C002A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="á"/>
      </restriction>
   </simpleType>
   <complexType name="Doc_VPOP_KIT17MEG_Type">
      <annotation>
         <documentation>A teljes bizonylat szerkezetet leíró típus</documentation>
      </annotation>
      <sequence>
         <element name="Form_VPOP_KIT17MEG"
                  type="tns:Form_VPOP_KIT17MEG_Type"
                  minOccurs="1"
                  maxOccurs="1"
                  meta:metaType="FormMetaType">
            <annotation>
               <documentation>VPOP_KIT17MEG részbizonylat</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Form_VPOP_KIT17MEG_Type">
      <annotation>
         <documentation>A teljes nyomtatvány VPOP_KIT17MEG részbiztonylatának szerkezetét leíró típus.</documentation>
      </annotation>
      <sequence>
         <element name="Block_120001"
                  type="tns:Block_120001_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>1/A) Alapadatok</documentation>
            </annotation>
         </element>
         <element name="Block_120008"
                  type="tns:Block_120008_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>1/B) Szolgáltató/vagyoni nyilvántartást vezető szerv adatai</documentation>
            </annotation>
         </element>
         <element name="Block_120010"
                  type="tns:Block_120010_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>1/C) Adatszolgáltatás</documentation>
            </annotation>
         </element>
         <element name="Attachment_1"
                  type="common:AttachmentType"
                  minOccurs="0"
                  maxOccurs="unbounded"
                  meta:metaType="AttachmentMetaType">
            <annotation>
               <documentation>Csatolmány; File Extensions:*</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Block_120001_Type">
      <annotation>
         <documentation>1/A) Alapadatok</documentation>
      </annotation>
      <sequence>
         <element name="FieldGroup_120002"
                  type="tns:FieldGroup_120002_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Mezőcsoport</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Block_120008_Type">
      <annotation>
         <documentation>1/B) Szolgáltató/vagyoni nyilvántartást vezető szerv adatai</documentation>
      </annotation>
      <sequence>
         <element name="FieldGroup_120009"
                  type="tns:FieldGroup_120009_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Mezőcsoport</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Block_120010_Type">
      <annotation>
         <documentation>1/C) Adatszolgáltatás</documentation>
      </annotation>
      <sequence>
         <element name="FieldGroup_120011"
                  type="tns:FieldGroup_120011_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Mezőcsoport</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="FieldGroup_120002_Type">
      <annotation>
         <documentation>Mezőcsoport</documentation>
      </annotation>
      <sequence>
         <element name="Field_0A0001C001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Pénzmosás és Terrorizmusfinanszírozás Elleni Iroda iktatószáma: (pmt_iktsz1)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="5"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation> (pmt_iktsz3)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="4"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C002A"
                  minOccurs="0"
                  type="tns:Enum_0A0001C002A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation> (pmt_iktsz2)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001C004A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation> (pmt_iktsz4)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="3"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C005A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation> (pmt_iktsz5)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="5"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="FieldGroup_120009_Type">
      <annotation>
         <documentation>Mezőcsoport</documentation>
      </annotation>
      <sequence>
         <element name="Field_0A0001D001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Név: (szolg_nev)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="60"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001D00500A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adószám: (adószám)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
   <complexType name="FieldGroup_120011_Type">
      <annotation>
         <documentation>Mezőcsoport</documentation>
      </annotation>
      <sequence>
         <element name="Field_0A0001E001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Szolgáltatónál/vagyoni nyilvántartást vezető szervnél alkalmazott azonosító: (szolg_azon)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="30"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001E002A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Szolgáltató vagy a vagyoni nyilvántartást vezető szerv részéről felmerült körülmény részletes leírása: (szolg_teny)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="999"/>
                  <pattern value="[\t\n\r\P{C}]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001E003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Mellékletek száma (csatolmanyok)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <maxLength value="2"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </sequence>
   </complexType>
</schema>
